<div class="App">
            <div class="App-header">
                <img src='/assets/images/insta_logo.png' class="page-logo" />
                <br/>
                <input type = "text" placeholder="Phone number, username, or email" class="input-style"/>
                <br/>
                <input type = "text" placeholder="Password" class="input-style"/>
                <br/>
                <button class="button-style" routerLink="/dashboard">Login</button>
                <h6>Forgot password?</h6>
            </div>
            <div  class="bottom-header">
                <h6>Don't have an account? Sign up</h6>
            </div>
        </div>
<router-outlet></router-outlet>