

<div class="outer">
    <img src='/assets/images/groot.png' class="profile_img" id="proimg" />
    <p class="name">Avani  Gohil</p>
<div class="inside">
    Bio
    <br /><br />
    Currunt Location: Banglore
    <br /> <br />Favorite Items: Food, Football<br /><br />Hobbies: Listning to music<br /><br />Education: Graduation done
    </div>
 
</div>
<body>
<div class="post">
    <p  style="color:blueviolet;font-weight:bold;font-size:100%; text-align: center;" >&nbsp; &nbsp;Your Post</p>
    <div><img src='/assets/images/cd.png' class="posted"/></div>
    <!-- <p style="color:blue;font-size:100%">&nbsp; &nbsp; Like   &nbsp; &nbsp;  Comment </p> -->
    <div><img src='/assets/images/hi.png' class="posted"/></div>
    <!-- <p style="color:blue;font-size:100%"> &nbsp; &nbsp;  Like  &nbsp; &nbsp;   Comment </p> -->
    <div><img src='/assets/images/ab.png' class="posted"/></div>
    <div><img src='/assets/images/ef.png' class="posted"/></div>
    <div>
        <button class="back" routerLink="/dashboard">Back</button></div>

</div>
</body>

<body>
    <p><a href="javascript:void(0)" onclick="document.getElementById('light1').style.display='block'"><button id="edit" onclick="white_content">Edit Profile</button></a>
    </p>
    <div id="light1" class="white_content">
        Edit Profile photo <a href="'/assets/images" onclick="document.getElementById('images')">Click here</a>
        <br /><br />
        Change Password? If yes <a href="'/assets/images" onclick="document.getElementById('images')">Click here</a>
        <br />
        Change UserName? If yes <a href="'/assets/images" onclick="document.getElementById('images')">Click here</a>
        <br/>
        Change Email? If yes <a href="'/assets/images" onclick="document.getElementById('images')">Click here</a>
        <a href="javascript:void(0)" onclick="document.getElementById('light1').style.display='none'"><br /><br />Close</a>
    </div>
</body>
